*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

.bg-wine{
    background-color: rgb(36, 36, 36);
}

.header-logo{
    height: 3rem;
    
}



.bgYellow{
    background-color: rgb(149, 45, 63);
}


/* Borders */
.border-default{
    border-top: 1px solid #fff;
    
}
.border-down{
    border-bottom: 1px solid #fff;
}
.btn-left{
    border-right: 1px solid #fff!important;
}
.border-right{
    border-left: 1px solid #fff!important;
}

/* Bars */

.center-bar{
    width: 100%;
}
/* Button */
button{
    padding: .5rem;
    border: 0;
    transition:  .5s;
}
.button{
    padding: .5rem;
    border: 0;
    border-bottom: 1px solid #fff!important;
    transition:  .5s;
}

.btnClick{
    background-color: rgb(149, 45, 63);
    width: 80%!important;
    border-bottom: 0!important;
}

.btnClick2{
    background-color: rgb(149, 45, 63);
    height: 66%!important;
    border-right: 0!important;
    background-position: 40%!important;
    
}



.active-button{
    background-color: rgb(149, 45, 63);
}

.submit-btn{
    background-color: #E4E1DB;
    width: 80vw;
    font-style: italic;
}

.submit-btn:hover{
    background-color: rgb(39, 39, 38);
    color: #E4E1DB;
}

.btn{
	color:rgb(39, 39, 38);
	background-color:#fff;
	outline: none;
    border: 0;
    color: rgb(39, 39, 38);
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

/* Titles */
.font-italic{
    font-style: italic;
    
}
.main-title{
    border-bottom: 1px solid #fff;
    display: flex;
    transition: 0.5s;
    
}
.link{
    color: #fff;
    text-decoration: none;
}

/* Maps On Button */
.argentina-map{
    background-image: url(../assets/mapa-Argentina.png);
    background-size: cover;
}
.italy-map{
    background-image: url(../assets/mapa-Italia.png);
    background-size: cover;
}
.usa-map{
    background-image: url(../assets/mapa-Usa.png);
    background-size: cover;
}





/* Display None */
.left-bar{
    display: none;
}
.right-bar{
    display: none;
}
.map{
    display: none;
}
.pagination-left{
    display: none!important;
}


/* Responsive 1024px */
@media screen and (min-width : 1024px){

    .left-bar{
        display: flex;
        /* border-right: 1px solid #fff; */
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 20%!important;
        height: 80vh;
    }
    .center-bar{
        max-height: 80vh!important;
        max-width:80%;
        border-bottom: 1px solid #fff;
    }
    .border-default{
        border-top:1px solid #fff;
    }
    /* Pagination */
    .pagination-left{
        display: flex!important;
    }
    
    /* Header */
    .left-header{
        width: 20%;
        border-right: 1px solid #fff;
        height: 100%;
    }
    .center-header{
        width: 80%;
        height: 100%;
    }
    /* Button */
    .submit-btn{
        
        width: 70vw;
        
    }
    .button{
        border-bottom: 0!important ;
        
    }
    /* Display None */
    .top-nav{
        display: none!important;
    }
}

/* Responsive 1440 */
@media screen and (min-width : 1440px){

    .right-bar{
        display: flex;
        border-left: 1px solid #fff;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        width: 40%!important;
        height: 80vh;

    }
    .center-bar{
        max-width: 50%!important;
        
    }
    .left-bar{
        width: 10%!important;
    }
    .aligner-1440{
        justify-content: center!important;
    }
    .height-contact{
        max-height: 71.4vh;
    }
    /* Forms */
    .input-container{
        width: 100%!important;
    }
    .all-forms{
        
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        
    }
    /* Header */
    .right-header{
        width: 40%;
        border-left: 1px solid #fff;
    }
    .center-header{
        width: 50%;
    }
    .left-header{
        width: 10%;
    }
    /* Button */
    .submit-btn{
        width: 33rem;
        display: flex;
        justify-content: center;
    }
    /* Maps */
    .map {
        display: flex;
        -webkit-filter: grayscale(100%);
    }
    /* Titles */
    .titleLeft{
        justify-content: start!important;
        
    }
    .titleCenter{
        justify-content: center!important;
    }
    .titleRight{
        justify-content: end!important;
    }
    
    
    

   
    
    
    
}
@media screen and (min-width : 1920px){

    .bgYellow{
        height: 8.4vh;
    }

}

@media screen and (min-width : 2560px){
    

}

