@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {} es para usar css vanilla */

/* @layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  
}
 
/* @layer components {
  .select2-dropdown {
    @apply rounded-b-lg shadow-md;
  }
  .select2-search {
    @apply border border-gray-300 rounded;
  }
  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }
  /* ... */

@layer components {
  body {
    @apply bg-[#242424];
  }

  .header {
    @apply w-full h-[55px]  flex flex-row justify-between border-t border-white text-gray-700 bg-[#242424] sticky top-0 right-0 left-0 z-50 border-b;
  }

  .logo {
    @apply flex justify-start items-center p-4 cursor-pointer w-[67.7%] sm:border-r border-white bg-[#242424];
  }

  .cart {
    @apply flex justify-end items-center p-4 cursor-pointer w-[31.3%] bg-[#242424];
  }

  .navegacion {
    @apply flex justify-center sm:justify-start items-center border-x border-white lg:px-24;
  }

  .item_nav {
    @apply px-2 sm:px-5;
  }

  .text_item {
    @apply py-1 relative text-sm;
  }

  /* main */
  .main {
    @apply flex flex-row h-full w-full;
  }

  .box_empty {
    @apply w-[3%] border border-l-0 border-white hidden sm:block;
  }

  .box_main {
    @apply w-full sm:w-[97%];
  }

  /* seccion 1 */
  .section_1 {
    @apply flex flex-col sm:flex-row  flex-wrap  w-full;
  }

  .contenedor_video {
    @apply h-auto max-w-full sm:h-[400px] sm:w-2/3 border-t border-white;
  }

  .video_seccion_1 {
    @apply object-cover h-full w-full;
  }

  .contenedor_info {
    @apply flex flex-col  w-full sm:w-1/3 relative;
  }

  .item_info {
    @apply h-[200px] border border-r-0 border-white text-gray-700;
  }

  /* marquee */

  .marquee {
    @apply border-b border-white;
  }

  /* section 2 */

  .section_2 {
    @apply w-full flex flex-col sm:flex-row;
  }

  .container_1 {
    @apply w-2/3 flex flex-wrap;
  }

  .item_s2_c1 {
    @apply sm:w-2/4;
  }
  .img_item {
    @apply object-cover w-full h-full;
  }
}

@layer utilities {
  body {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  }

  .text_item::after {
    content: "";
    position: absolute;
    background-color: rgb(55 65 81 / 0.8);
    bottom: 0;
    left: 0;
    margin-bottom: -5px;
    width: 100%;
    height: 3px;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .text_item:is(:hover, :focus)::after {
    opacity: 1;

    transform: translateX(0);
  }

  .bg_hover::before {
    content: "";
    position: absolute;
    background-color: #f2d556;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: -1;
    transition: transform 0.7s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
  }

  .bg_hover:is(:hover, :focus)::before {
    transform: scaleY(1);
  }

  .marquee {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }

  .text_marquee {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: animateMarquee 20s linear infinite;
    white-space: nowrap;
    padding-left: 100%;
  }

  .font_italic {
    font-family: "Playfair Display", serif;
    font-style: italic;
  }

  .perspectiv {
    perspective: 800px;
    overflow: hidden;
  }

  .rotate_img {
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
  }

  .rotate_img:hover {
    transform: rotateY(-14deg);
  }

  /* footer */
}

@keyframes animateMarquee {
  100% {
    transform: translateX(-100%);
  }
}

.imput_box {
  position: relative;
}

.imput_box input {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(31, 41, 55, 0.508);
  background-color: #cac5c7;
  color: rgba(31, 41, 55, 0.815);
  outline: none;
  font-size: 1rem;
}

.imput_box span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1rem;
  color: #000000ce;
  transition: 0.5s;
}

.imput_box input:valid ~ span,
.imput_box input:focus ~ span {
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65rem;
  padding: 0 10px;
}

.cubic {
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cubic:hover {
  gap: 1rem;
}

.swiper {
  width: 100%;
  height: calc(200px + 20vw);
}

.swiper-pagination-bullet-active {
  background-color: #000000ce !important;
}

.gallery_container {
 
}

/* @media (max-width: 600px) {
  .gallery_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .gallery_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 70vw;
  }
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 997;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0008;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms ease-in-out;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-container {
  position: relative;
  border: solid 0.5px #f2f2f2;
  padding: 2rem;
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;

  background-color: #242424;
}

.modal-close {
  display: flex;
  justify-content: end;
}

.input_moment {
  /* border: none; */
  appearance: none;
  outline: none;
  border-bottom: solid 0.5px #f2f2f2;
  width: 200px;
  color: white;
}

.container_input_file input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.container_input_file {
  display: inline-block;
  position: relative;
  background-color: #242424;
  color: #f2f2f2;
}
